#contact .contact-card {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

#contact .contact-card-title {
	color: var(--clr-secondary);
	align-self: center;

	position: relative;
}

#contact .contact-list {
	word-break: break-word;
}

#contact .contact-list .phone::before {
	content: "📞 ";
}

#contact .contact-list .email::before {
	content: "✉️ ";
}

#contact .contact-list .location::before {
	content: "📌 ";
}

#contact .location-img {
	width: 80%;

	align-self: center;
}
