/* --Hero Card-- */
#home .hero-card {
	display: flex;
	align-items: center;
	gap: 3rem;
}

#home .hero-card .hero-card-wrapper:nth-of-type(1) {
	width: 40%;
}

#home .hero-card .hero-card-wrapper:nth-of-type(2) {
	width: 60%;
}

#home .hero-card .brand-motto {
	margin-bottom: 2rem;
	text-wrap: pretty;
	color: var(--clr-secondary);
}

#home .hero-card .coffee-machine-img {
	border-radius: var(--border-radius);
}

/* --Hours Card-- */
#home .hours-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3rem;
}

#home .hours-card-title {
	color: var(--clr-secondary);

	position: relative;
}

#home .hours-card-title::before {
	content: "";
	height: 0.2rem;
	width: 80%;
	background: currentColor;
	border-radius: 50%;

	position: absolute;
	bottom: -10px;
	left: calc(50% - 40%);
}

#home .hours-card ul {
	font-size: var(--font-size-600);
}

#home .hours-card ul li:not(:last-child) {
	margin-bottom: 1rem;
}
