@import "./css/reset.css";
@import "./css/utility-classes.css";
@import "./css/header.css";
@import "./css/home.css";
@import "./css/menu.css";
@import "./css/contact.css";

/* VARIABLES */
:root {
	--ff-body: "Karla", sans-serif;
	--ff-heading: "Dancing Script", cursive;

	--font-size-300: clamp(0.8333rem, 0.7754rem + 0.2899vw, 1rem);
	--font-size-400: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);
	--font-size-500: clamp(1.2rem, 1.0739rem + 0.6304vw, 1.5625rem);
	--font-size-600: clamp(1.44rem, 1.2615rem + 0.8924vw, 1.9531rem);
	--font-size-700: clamp(1.728rem, 1.4799rem + 1.2407vw, 2.4414rem);
	--font-size-800: clamp(2.0736rem, 1.7334rem + 1.7011vw, 3.0518rem);
	--font-size-900: clamp(2.4883rem, 2.027rem + 2.3067vw, 3.8147rem);
	--font-size-1000: clamp(2.8883rem, 2.327rem + 2.9067vw, 5.2147rem);

	--clr-primary: #ff9017;
	--clr-secondary: #fff9b4;
	--clr-dark: #1b1818;
	--clr-light: #fff;
	--clr-overlay: rgb(0, 0, 0, 0.85);

	--icon-size: clamp(4rem, 5vw + 2rem, 7rem);

	--box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.8);

	--border-radius: 8px;
}

/* GENERAL STYLES */
body {
	font-family: var(--ff-body);
	font-size: var(--font-size-600);
	color: var(--clr-light);
	background: url("images/background.jpg") fixed center/cover;
}

h1,
h2,
h3 {
	font-family: var(--ff-heading);
}

h1 {
	font-size: var(--font-size-1000);
}

h2 {
	font-size: var(--font-size-900);
}

/* Underline for the titles */
#home .hours-card-title::before,
#menu .menu-card-title::before,
#contact .contact-card-title::before {
	content: "";
	height: 0.2rem;
	width: 80%;
	background: currentColor;
	border-radius: 50%;

	position: absolute;
	bottom: -10px;
	left: calc(50% - 40%);
}

/* MEDIA QUERIES */
@media only screen and (max-width: 900px) {
	/* --Home Section-- */
	#home .hero-card {
		flex-direction: column;
	}

	#home .hero-card .hero-card-wrapper:nth-of-type(1) {
		width: 100%;
	}

	#home .hero-card .hero-card-wrapper:nth-of-type(2) {
		width: 100%;
	}

	/* --Menu Section-- */
	#menu .menu-card:not(:nth-child(1)) {
		grid-template-columns: 1fr;
		grid-template-areas:
			"title"
			"img"
			"text";
	}
}

@media only screen and (max-width: 540px) {
	.card {
		padding: 4rem 2.5rem;
	}

	#home .hours-card ul,
	#menu .menu-products {
		font-size: var(--font-size-500);
	}

	#contact .location-img {
		width: 100%;
	}
}
